*{
	padding: 0;
	margin: 0;

	list-style: none;
	text-decoration: none;
}


body{
	width: 100%;
	min-width: 1400px;
	/*max-width: 1600px;*/
	margin: 0 auto;

	/*background-color: #000;*/
	font-family: "微软雅黑";
}


/*头部开始*/
header.header{
	width: 100%;
	min-width: 1400px;
	height: 80px;
	background-color: #013D61;
	position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1;
}

/*二层居中*/
header>.header_bg{
	width: 1200px;
	margin: 0 auto;

	height: 100%;
	/*border: 1px red solid;*/
}

/*logo*/
.header_bg>.logo{
	height: 100%;
	float: left;
	cursor: pointer;
	width: 240px;
}

.logo img{
	height: 100%;
	width: 100%;
}

/*导航*/
.logo+nav.nav{
	float: right;
}

nav a{
	display: block;
	float: left;
	height: 100%;
	line-height: 80px;
	width: 80px;
	text-align: center;
	color: #fff;
	font-size: 20px;
}

nav .a_w{
	background-color: rgb(254,160,5);
	color: #fff;
}

nav a:hover {
	background-color: rgb(254,160,5);
}

/*头部结束*/


.title{
	width: 1100px;
	margin: 0 auto;
	margin-top: 80px;
	height: 60px;
	font-size: 25px;
	line-height:60px;
	text-align: center;
    border-left:1px solid #000; 
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
}


/*轮播*/
.banner{
	width: 100%;
	min-width: 1400px;
	height: 1000px;
	position: relative;

}
.banner .kuang{
	width: 1100px;
	height:1000px;
	margin: 0 auto;
	border-left:1px solid #000; 
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
}
.banner .kuang .tongji{
	height: 50px;
	width: 100%;	
	float: left;
	border-bottom: 1px solid #000;
}

.banner .kuang .tongji p{
	line-height: 50px;
	width: 380px;
	border-right: 1px solid #000;
	font-size: 19px;
	color: red;
	float: left;
	
}
.banner .kuang .tongji span{
	line-height: 50px;
	font-size: 19px;
	color: red;
	float: left;
	margin-left: 20px;
} 
.banner .kuang .first{
	width: 100%;
	height: 204px;
	float: left;
	border-bottom:1px solid #000;

}
.banner .kuang .first ul{
	width: 380px;
	height: 204px;
	border-right: 1px solid #000;
	float: left;
	
}
.banner .kuang .first ul li{
	width: 100%;
	height: 50px;
	float: left;
	margin-left: 50px;
	line-height: 50px;
	font-size: 22px;
   
}
.tubiao{
	width: 716px;
	height: 204px;
	float: left;
}
.banner .kuang .socend{
	width: 100%;
	height: 450px;
	float: left;
	border-bottom: 1px solid #000;
}
.miaosu{
	position: relative;
	font-size: 20px;
	top:20px;
	color: red;
}
.chart{
	width: 500px;
	height: 380px;
	position: relative;
	top: 30px;
	left: 60px;
}
.chart-a{
    position: relative;
    top: -300px;
    right: 30px;
    float: right;
    
}

.bingzhuntu{
	float:right;
	color: red;
	font-size: 20px;
	margin-right: 450px;
}


.banner .kuang .trid{
	width: 100%;
	height: 290px;
	float: left;


}
#dianji{
	cursor: pointer;
	color: blue;
}
#xianshi{
	display: none;

}
.banner .kuang .trid ul{
	width: 900px;
	height: 290px;
	margin:0 auto;

}
.banner .kuang .trid ul li{
	width: 100%;
	height: 30px;
	float: left;
	font-size: 22px;
	line-height: 30px;
	color: red;
}
/*底部*/
footer{
	width: 100%;
	min-width: 1400px;

	height: 100px;

	background-color: #222;
}

footer .footer_bg{
	margin: 0 auto;
	width: 52%;
	height: 100px;
}

.footer_bg img{
	height: 100%;
	float: left;
	margin-right: 60px;
}

.footer_bg p{
	/*float: left;*/
	color: #fff;

	margin-left: 100px;
	font-size: 14px;
	
	position: relative;
	top: 34px;
}